.carousel-inner {
  margin: auto;
  padding: 20px 50px 20px 50px;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: auto;
  grid-template-areas: "prev slider next";
}

.slider {
  display: none;
  grid-template-columns: 50% 50%;
  grid-template-areas: "carousel-item-one carousel-item-two";
}

.slider.active {
  display: grid;
}

.next,
.prev {
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-align: right;
  cursor: pointer;
}

.prev {
  background: linear-gradient(to left, white, #eeeeee);
  grid-area: prev;
}

.prev:hover {
  background: linear-gradient(to left, white, #bdbdbd);
}

.next {
  background: linear-gradient(to right, white, #eeeeee);
  grid-area: next;
}

.next:hover {
  background: linear-gradient(to right, white, #bdbdbd);
}

.fa-angle-double-left,
.fa-angle-double-right {
  font-size: 36px;
}

.fa-angle-double-left {
  padding-left: 15px;
  color: #e0e0e0;
}

.fa-angle-double-right {
  color: gray;
}

.carousel-item-one {
  grid-area: carousel-item-one;
  margin: 30px;
}

.carousel-item-two {
  grid-area: carousel-item-two;
  margin: 30px;
}

.carousel-indicator-container {
  width: 100%;
  margin: auto;
}

.carousel-indicator {
  display: inline-block;
  border-radius: 100%;
  color: white;
  width: 10px;
  height: 10px;
  border: 1px solid gray;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  background-color: white;
}

.carousel-indicator.active {
  background-color: gray;
}

@media (max-width: 768px) {
  .slider {
    grid-template-columns: 100%;
    grid-template-areas:
      "carousel-item-one"
      "carousel-item-two";
  }

  .carousel-inner {
    grid-template-columns: 10% 80% 10%;
  }
}

@media (max-width: 520px) {
  .fa-angle-double-left {
    padding-left: 0;
  }
}

@media (max-width: 440px) {
  .carousel-inner {
    padding: 0;
  }
}
