.main-information {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.avatar {
  text-align: right;
  padding-right: 80px;
}

.avatar img {
  width: 400px;
  height: 600px;

}

.about-me {
  width: 500px;
  height: 400px;
}

.list-skills {
  padding-top: 30px;
  margin: auto;
  width: 350px;
  font-size: 18px;
  list-style-type: none;
}

.list-skills li {
  padding-top: 20px;
  padding-bottom: 20px;
}

.list-skills li:not(:first-of-type) {
  border-top: 1px solid #e0e0e0;
}

@media (max-width: 1050px) {
  .avatar {
    text-align: left;
    padding-right: 0;
    padding-left: 5px;
    width: auto;
  }

  .about-me {
    width: auto;
  }
}

@media (max-width: 820px) {
  .main-information {
    grid-template-columns: 1fr;
  }

  .avatar {
    margin: auto;
  }
}

@media (max-width: 440px) {
  .avatar {
    padding: 0;
  }
}
