.service {
  background-color: #F6F7F2;
}

.service-content {
  margin: auto;
  padding: 20px 50px 20px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;

}

.service-container {
  display: grid;
  background-color: white;
}

.service-container-footer {
  align-self: end;
}

@media (max-width: 870px) {
  .service-content {
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
  }
 .service-container:last-child {
   grid-column: 1/3;
 }
}

@media (max-width: 590px) {
  .service-content {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }
  .service-container:last-child {
    grid-column: 1;
  }
}
