.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.title {
  font-size: 48px;
  font-weight: 200;
}

.title-medium {
  color: #42729B;
  font-size: 30px;
  font-weight: 200;
}

.title-small {
  color: #42729B;
  font-size: 22px;
  font-weight: 200;
}

.text-brand {
  color: #025159;
  font-weight: 500;
}

.text-brand-en {
  color: #025159;
  font-family: 'Alex Brush', cursive;
  font-size: 28px;
  font-weight: bold;
}

.text-reviews {
  padding: 15px 30px 30px 30px;
  font-size: 16px;
  font-style: italic;
}

.text-price {
  color: #64b5f6;
}

.text-slogan {
  font-family: 'Caveat', cursive;
  font-weight: 100;
  font-size: 30px;
  color: white;
}

.text-link {
  color: #008891;
}

.line-bottom-text {
  padding-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  margin: auto;
  width: fit-content;
}

.icon-star-full {
  font-size: 26px;
  color: #F29B34;
}

.icon-star-4-5 {
  font-size: 26px;
  background: linear-gradient(to right, #F29B34 70%, gray 30%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-small-gray {
  font-size: 16px;
  color: gray;
}
